.base{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.homeBg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url(../assets/main-bg.jpg);
    z-index: 0;
}