.owner_container {
  display: flex;
  padding-top: 40px;
  margin-right: 67px;
}

.square_button {
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.5);
  transition: color 0.3s ease;
  text-transform: capitalize;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 125px;
  margin-left: 50px;
  transition: background-color 0.5s ease;
}

.square_button:hover {
  background-color: hsl(27, 100%, 50%);
  color: white;
  border: 1px solid hsl(27, 100%, 50%);
  box-shadow: 0px 0px 5px 2px hsl(27, 100%, 50%);
  text-decoration: none;
}

.square_button:active {
    background-color: hsl(39, 100%, 60%);
    color: rgb(0, 0, 0);
}

.box_menu {
  width: 100% !important;
  display: block;
  background-color:rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  overflow: auto;
  box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.5);
}

.owner_container .box_menu {
  transform: translatex(25px) translatey(19px);
  height: 564px;
  border-radius: 10px;
  border-style: solid;
}
