# Ignore these files and directories
ssh_keys
ssh_keys.pub
web-files/website/mail_config.cfg
web-files/website/env

# Ignore these files and directories
web-files/__pycache__
web-files/website/__pycache__
web-files/website
web-files/migrations
database
postgres-data
