@media (max-width: 1200px) {
  .authBox {
    min-width: 100%;
    max-width: 100%;
    right: 40px;
    scale: 0.9;
  }
}

.authBox {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  margin: 0;
  border-radius: 24px;
  box-shadow: 0px 0px 50px 20px rgba(0, 0, 0, 0.61);
  width: 100%;
  height: 100%;
  z-index: 1001;
  transform: scale(1);
  overflow: hidden;
  transition: all 0.5s ease-in-out, transform 0.3s ease;
}

.authBox.close {
  transform: scale(0);
}

.auth {
  width: 350px;
  position: absolute;
  transform: translateX(150px);
  pointer-events: none;
  color: black;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.auth.login {
  opacity: 1;
  position: relative;
  transform: translateX(0);
  pointer-events: auto;
}

.auth.register {
  max-width: 75%;
  opacity: 0;
  transform: translateX(-150px) !important;
  pointer-events: none;
}

.login_form,
.register_form {
  display: flex;
  flex-direction: column;
}

.submit_button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ff9100;
  color: rgb(0, 0, 0);
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.submit_button:hover {
  background-color: #ffd000;
  color: black;
}

.switch_link {
  color: #ff7300;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  transition: color 0.3s ease, font-style 0.1s ease;
}

.switch_link:hover {
  color: #522500;
}

.show_password_checkbox {
  font-size: 14;
  color: black;
  margin-right: 10px;
  margin-left: 1px
}

.forgot_password {
  margin-top: 20px;
  color: #ff7300;
  cursor: pointer;
  font-size: 15px;
  transition: color 0.3s ease, font-style 0.1s ease;
}

.forgot_password:hover {
  color: #522500;
}

.phone_select {
  width: auto;
  background-color: whitesmoke;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.253);
  margin: 10px 10px 10px 0px;
  padding: 9px;
  color: gray;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
}
