{% extends "base.html" %}
{% block title %} Petta Login {% endblock %}

{% block headscript %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block bg %}{% endblock %}
{% block content%}
<div class="sign-container">
  <section id="login" class="main-section">
    <h3 class="welcome-text" style="font-size: 19px;">შეიყვანეთ თქვენი ელ.ფოსტა, მასზე გაიგზავნება პაროლის აღსადგენი ბმული</h3>
    <br>
    <form class="login-form" method="POST">
      <label for="email">ელ.ფოსტა</label>
      <input type="email" id="email" name="email" placeholder="name@example.com"
       title="ელ.ფოსტის შესაყვანი ველი" required>
      <h3></h3>
      <div class="g-recaptcha" data-sitekey="6LdmXcwoAAAAAARZJDNPt5HN8DGlyCwps6kHEa_q"></div>
      <h3></h3>
      <input type="submit" style="font-size: 13px;" value="აღსადგენი ბმულის გაგზავნა">
      <br>
    </form>
  </section>
</div>
<div class="blur-forgot-bg"></div>
{% endblock%}
