{% extends "base.html" %}
{% block title %} Petta Login {% endblock %}
{% block bg %}{% endblock %}
{% block content%}
<div class="sign-container">
  <section id="login" class="main-section">
    <h3 class="welcome-text">{{ _('შეიყვანეთ თქვენი მონაცემები') }}</h3>
    <br>
    <form class="login-form" method="POST" id="loginForm">
        <label for="password">{{ _('ახალი პაროლი') }}</label>
        <input type="password" id="password" name="password" placeholder="******" 
        title="{{ _('უნდა შეიცავდეს მინიმუმ 6 სიმბოლოს') }}" minlength="6" required>
        <label for="repeat-password">{{ _('გაიმეორეთ პაროლი') }}</label>
        <input type="password" id="repeat-password" name="repeat-password" placeholder="******" 
        title="{{ _('გაიმეორეთ თქვენი პაროლი') }}" minlength="6" required>
      <h3></h3>
      <div>
        <input type="checkbox" id="show-password" class="show-password-checkbox" 
        title="{{ _('აჩვენოს/დამალოს პაროლი') }}"><label for="checkbox" style="font-size: 14px;">{{ _('პაროლის ნახვა') }}</label>
      </div>
      <h3></h3>
      <input type="submit" value="{{ _('პაროლის შეცვლა') }}">   
    </form>
  </section>
</div>
<div class="blur-reset-bg"></div>
{% endblock%}

{% block script %}
<script>
  document.getElementById('loginForm').addEventListener('submit', function(event) {
      var response = grecaptcha.getResponse();
      if (response.length == 0) {
          alert("{{ _('გთხოვთ, დაადასტუროთ, რომ არ ხართ რობოტი!') }}");
          event.preventDefault(); // Prevent form submission
      }
  });
</script>
<script>
    const showPasswordCheckbox = document.getElementById('show-password');
    const passwordInput = document.getElementById('password');
    const repeatPasswordInput = document.getElementById('repeat-password')
  
    showPasswordCheckbox.addEventListener('change', function () {
      if (showPasswordCheckbox.checked) {
        passwordInput.type = 'text';
        repeatPasswordInput.type = 'text';
      } else {
        passwordInput.type = 'password';
        repeatPasswordInput.type = 'password';
      }
    });

    passwordInput.oninput = function() {
      if (!passwordInput.checkValidity()) {
        passwordInput.setCustomValidity("{{ _('პაროლი უნდა შეიცავდეს მინიმუმ 6 სიმბოლოს, მინიმუმ 1 ლათინურ სიმბოლოს და 1 ციფრს.') }}");
      } else {
        passwordInput.setCustomValidity('');
      }
    };
  </script>

{% endblock %}
