{% extends "base.html" %}
{% block title %} Petta Login {% endblock %}

{% block bg %}{% endblock %}

{% block content%}

{% if verification_type == 0 %}
<h1 class="verification">
    {{ _('თქვენს, %(email)s ელ.ფოსტაზე გაიგზავნა დასტურის კოდი, გთხოვთ დაადასტუროთ მისი ვალიდურობა.', email=current_user.mail) }}
  </h1>
  
<div class="blur-verification-bg"></div>
{% elif verification_type == 1 %}
<h1 class="verification">
    {{ ('_თუ დარწმუნებული ხართ კლინიკის წაშლაზე, თქვენს ელ.ფოსტაზე %(email)s-ზე
    გაიგზავნა წასაშლელი ბმული, გთხოვთ გაეცნოთ მას.'), email=current_user.mail }}
</h1>
<div class="blur-verification-bg"></div>
{% endif %}
{% endblock%}