/* Global styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f7f7f7;
}

body {
  background-size: cover;
  /* Additional background properties if desired */
}

html, body {
  height: 100%;
  margin: 0;
}




/* Container */
.container{
  width:100% !important;
  max-width:1150px;
  margin: 0 auto;
  padding: 0 20px;
  
}

.sign-container{
  width:100% !important;
  max-width:625px;
  margin: 0 auto;
  padding: 0 20px;
  
}
/* logo */
.logo{
    width:126px;
    height:126px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 25px 0;
  box-shadow:0px 0px 10px 0px #020202
}

.navbar-brand {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 20px;
  transform: translatex(-16px) translatey(37px);
}

.navbar-item a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.5s ease, color 0.3s;
}

.navbar-item a:hover {
  background-color: #ff7300;
  color: #fff;
  text-decoration:none
}

.navbar-menu .navbar-item a{
  position:relative;
  top:-7px;
 }
 
nav{
  transform:translatex(0px) translatey(0px);
  padding-left:26px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  height:99px;
 }

/* Main content */
.main-section {
  background-color: #ffffff9d;
  padding: 50px;
  margin: 50px 0;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  box-shadow:0px 0px 10px 0px #020202
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95px
}

.section-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.card {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-subtitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #666;
}

.card-description {
  font-size: 16px;
  margin-bottom: 20px;
}

.card-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #ff7300;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.card-link:hover {
  background-color: #333;
}




.register-form,
.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"],
.register-form input[type="tel"],
.login-form input[type="email"],
.login-form input[type="password"] {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}


.register-form input[type="text"]:hover,
.register-form input[type="password"]:hover,
.register-form input[type="email"]:hover,
.register-form input[type="tel"]:hover,
.login-form input[type="email"]:hover,
.login-form input[type="password"]:hover {
  border-color: #999;
}



.register-form input[type="submit"],
.login-form input[type="submit"] {
  background-color: #ff7300;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}


.register-form input[type="submit"]:hover,
.login-form input[type="submit"]:hover {
  background-color: #ffa600;
}

/* Register */
#register{
  margin-top:44px;
  height:776px;
  padding-bottom:0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  margin: 0 auto;
 }
 


/* Footer */
.footer {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 0;
  margin-top: auto;
  text-align: center;
  border-radius: 20px;
  box-shadow:0px 0px 10px 0px #020202
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}



/* Owners styling */
.owner-container {
  display: flex;
  padding-top:40px;
  margin-right:67px;
}


.square-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
  height: 150px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  padding-top:50px;
  text-align:center;
  margin-bottom: 10px;
  margin-left:30px;
  border-radius: 10px;
  box-shadow:0px 2px 13px 0px rgba(0,0,0,0.75);
  transition: background-color 0.5s ease;
  transition: color 0.3s ease;
}

.square-button:hover {
  background-color: #fc7f19;
  color:#ffffff;
  text-decoration:none
}

.box-menu {
  width: auto !important;
  flex: 1;
  padding: 20px;
  background-color: #F5F5F5;
  border-radius: 10px;
  box-shadow:0px 2px 50px 0px rgba(0,0,0,0.75);
}

.owner-container .buttons .square-button a{
  transform:translatex(-4px) translatey(0px);
  position:relative;
  bottom:-11px;
  left:-6px;
  text-decoration:none;
 }
 
 /* Box menu */
 .owner-container .box-menu{
  max-width:1500px;
  transform:translatex(51px) translatey(0px);
  height:630px;
 }

 .box-menu {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  overflow: auto;
}

.box-menu form {
  margin-bottom: 20px;
}

.box-menu label {
  margin-top: 4px;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.box-menu input[type="text"],
.box-menu select,
.box-menu input[type="date"] {
  width: 400px;
  height: 45px;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #fff;
  color: #333;
  transition: border-color 0.3s ease-in-out;
}

.box-menu input[type="text"]:focus,
.box-menu select:focus,
.box-menu input[type="date"]:focus {
  outline: none;
  border-color: #ffa500;
}

.box-menu button[type="submit"] {
  display: block;
  width: 400px;
  height: 45px;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #58c03d;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.box-menu button[type="submit"]:hover {
  background-color: #3dce38;
}

.box-menu select option {
  color: #333;
}

.box-menu .error {
  color: #ff6347;
  font-size: 14px;
  margin-top: 5px;
}

.box-menu .success {
  color: #32cd32;
  font-size: 14px;
  margin-top: 5px;
}




 /* Owner container */
 .owner-container{
  transform:translatex(66px) translatey(3px);  
 }

 .owner-container .box-menu{
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
  padding-bottom:0px;
 }


 .list-box {
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 0px; 
}

.list-box ul {
  list-style-type: none; 
  padding: 0; 
  margin: 0; 
}

.list-box li {
  margin-bottom: 10px; 
  padding: 5px; 
  background-color: #fff; 
  border-radius: 4px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: background-color 0.3s; 
}

.list-box li:hover {
  background-color: #f9f9f9; 
}


#map {
  height: 100%; 
  width: 100%; 
}


.change-button {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-left: 5px;
  vertical-align: middle;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.change-button:hover {
  background-color: #45a049;
}

.change-button:active {
  transform: scale(0.95);
}


.save-button{
    display: inline-block;
    width: 120px;
    height: 40px;
    margin-left: 5px;
    vertical-align: middle;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .save-button:hover {
    background-color: #45a049;
  }
  
  .save-button:active {
    transform: scale(0.95);
  }


/* pets list styles */
.pets-list {
  max-width: 600px;
  margin: 0 auto;
}

.pets-list h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.pets-list ul {
  list-style-type: none;
}

.pets-list li {
  position: relative;
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s, transform 0.3s;
}

.pets-list li:hover {
  background-color: #ebebeb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}

.pets-list li strong {
  font-weight: bold;
}

.pets-list label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.pets-list input[type="text"] {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: #333;
  text-align: center;
  transition: border-color 0.3s;
}

.pets-list .save-button {
  display: none;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  background-color: #4caf50;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  border-radius: 4px;
}

.pets-list .change-button {
  position: absolute;
  top: 20px;
  right: 60px;
  display: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}

.pets-list .change-button i {
  font-size: 16px;
}

.pets-list .remove-button {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  width: 30px;
  height: 30px;
  background-color: #ff0000;
  border: none;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
}

.pets-list .remove-button i {
  font-size: 16px;
}

.pets-list li:hover .save-button {
  display: inline-block;
}

.pets-list li:hover .change-button,
.pets-list li:hover .remove-button {
  display: inline-block;
}

.pets-list li:hover input[type="text"],
.pets-list li:hover input[type="date"] {
  border-color: #ffa500;
}

.pets-list li input[type="text"]:focus,
.pets-list li input[type="date"]:focus {
  outline: none;
  border-color: #ffa500;
}

.pets-list li::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #ccc;
  transition: width 0.3s;
}

.pets-list li:hover::before {
  width: 100%;
}

.pets-list li:hover .remove-button {
  opacity: 1;
  visibility: visible;
}

.pets-list ul .remove-button{
  width:30px;
  height:30px;
  padding-left:0px;
  padding-right:0px;
  padding-top:0px;
  padding-bottom:0px;
  background-color:rgba(184,184,184,0);
  color:#444444;
 }

.pets-list ul .remove-button:hover{
  background-color:#ff0000;
 }

 .pets-list input[type="date"] {
  width: 100%;
  height: 30px;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: #333;
  text-align: center;
  /*transition: border-color 0.3s;*/
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 25px;
  background-image: url('calendar-icon.png');
  background-repeat: no-repeat;
  background-position: right center;
}


.pets-list input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}


.pets-list input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

.pet-actions form .pet-info input[type=text],
.pet-actions form .pet-info input[type=date] {
  width:50% !important;
 }

 .pets-list ul li{
  box-shadow:0px 2px 24px 0px rgba(0,0,0,0.25);
 }
 
 .pets-list ul li:hover{
  box-shadow:0px 2px 24px 0px rgba(0,0,0,0.50);
 }
 
 

/* Form Division */
.newpetbox form{
  background-image:url("../images/10.jpg");
  background-size:100% 165%;
  background-attachment:scroll;
  margin-bottom:4px;
  min-height:619px;
  background-position-y:-235px;
 }

 /* Box menu 
.pet-list-bg{
  background-image:linear-gradient(to right, #e65c00 0%, #f9d423 100%);
  background-repeat:repeat;
 }*/
 

 /* Box menu */
.owner-container .box-menu{
  background-color:rgba(248,248,248,0.56);
  backdrop-filter:blur(10px);
 }
 
 /* Firstname */
 #firstname{
  box-shadow:0px 0px 10px 0px #333333;
 }
 
 /* Change button */
 .box-menu form .change-button{
  border-color:#000000;
  border-width:1px;
  border-style:solid;
  box-shadow:0px 0px 10px 0px #333333;
 }

 
 /* Lastname */
 #lastname{
  box-shadow:0px 0px 10px 0px #333333;
 }
 
 /* Address */
 #address{
  box-shadow:0px 0px 10px 0px #333333;
 }
 
 /* Font Icon */
.box-menu form i{
  color:#000000;
 }
 
 