
/* ##################################### */
/* media fixes for different resolutions */
/* ##################################### */



/* For responsive layout adjustments */
@media screen and (max-width: 768px) {
    .dashboard {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }

/* General */
@media (min-width:1200px){
    .owner-container{
      padding-left:30px;
     }
     
  }
  
  @media (max-width:1700px){
  
    /* Box menu */
    .owner-container .box-menu{
     height:82% !important;
      /* Link */}
    .buttons a{
    font-size:14px;
    margin-left:22px;
    width:135px;
    height:135px;
    
   }
   
   /* Heading */
   .box-menu h1{
    font-size:35px;
   }
  
  .box-menu input[type="text"],
  .box-menu select,
  .box-menu input[type="date"] {
    width: 35%;
  }
  .owner-container .buttons a{
    width:120px;
    height:120px;
    position:relative;
    top:-12px;
    margin-bottom:26px;
   }
   
    }
  
  @media (max-width:1200px){
  
    .box-menu input[type="text"],
    .box-menu select,
    .box-menu input[type="date"] {
      width: 50%;
      
    }
      
      /* Box menu */
    .owner-container .box-menu{
      height:565px !important;
      max-width:850px;
      width:702px !important;
      }
  
      .owner-container .box-menu div form .submit-style{
        width:auto !important;
        height:auto !important;
      }
  
        /* Box menu */
        .owner-container .box-menu{
          width:100% !important;
          }
          
        }
        
        @media (max-width: 768px){
        
          /* Box menu */
          .owner-container .box-menu{
          width:90% !important;
          }
          /* Pet info */
      .pet-actions form .pet-info{
        line-height:17px;
      }
      
      /* Link */
      .owner-container .box-menu .pet-list-bg .pets-list ul a{
        width:54% !important;
        height:auto !important;
      }
      
    }
  
    /* Box menu */
    .owner-container .box-menu{
      height:565px !important;
      margin-right:90px;
      }
      
      /* Link */
      .owner-container .buttons a{
      margin-left:0px;
      }
  
  
  
  @media (max-width:768px){
  
  
    .box-menu{
      margin-right:106px;
    }
    
  
    .buttons a{
      margin-left:15px;
      width:100px;
      height:100px;
      font-size:11px;
    }
    
  
    .owner-container .box-menu{
      position:relative;
      left:-130px;
      top:156px;
      margin-left:-313px;
      margin-right:-69px;
      height:533px !important;
    }
    
  
    .navbar-menu .navbar-item a{
      text-align:center;
      font-size:14px;
      margin-left:0px;
      width:116px;
      font-size:14px;
      padding-right:0px;
      padding-left:0px;
      padding-top:14px;
      padding-bottom:0px;
      min-width:-3px;
      left:-25px;
      top:-20px;
      left:0px;
      top:0px;
      height:100%;
    }
    
  
    .box-menu h1{
      font-size:24px;
      width:100%;
      height:360px;
    }
  
    .box-menu input[type="text"],
    .box-menu select,
    .box-menu input[type="date"] {
      width: 75%;
  }
  
  
    footer{
      height:50px !important;
      padding-top:8px !important;
      font-size:14px;
    }
  
    
    .owner-container .box-menu h1{
      height:10px;
      min-height:-4px;
      }
      
  
      .owner-container .buttons a{
      border-top-left-radius:50px;
      border-top-right-radius:50px;
      border-bottom-left-radius:50px;
      border-bottom-right-radius:50px;
      position:relative;
      padding-top:0px;
      top:0px;
      left:0px;
      width:90px;
      height:90px;
      }
      
      
  
      
  
      .owner-container .buttons{
      position:relative;
      left:-49px;
      }
  
      .owner-container .box-menu div form .submit-style{
        width:auto !important;
        height:auto !important;
      }
      
   
   .navbar-menu a img{
    width:100px;
    height:100px;
    display:inline-block;
    transform:translatex(-21px) translatey(-6px);
   }
   
  
   nav{
    height:73px;
    position:sticky !important;
   }
   
  
   #login .welcome-text strong{
    font-size:20px;
   }
   
  
   #login .login-form label{
    font-size:12px !important;
   }
   
  
  
   
  
   #login{
    margin-bottom:0px;
    padding-left:50px;
   }
   
  
  
   .navbar .navbar-menu li{
    position:relative;
    top:-20px;
    left:-28px;
    width:110px;
    height:48px;
   }
   
  
  
    /* Link */
    .navbar .navbar-menu .navbar-item a{
      width:100% !important;
    }
    
  
    #email,
    #password,
    #name,
    #firstname,
    #lastname,
    #repeat-password,
    #phone,
    #address {
      width: 80% !important;
    }
    
  
    #login .login-form input{
      margin-top:8px;
    }
  
      body{
        min-height:1px;
        height:100%;
      }
  
  
    #login .welcome-text strong{
      font-size:18px;
    }
  
  
    .owner-container{
      position:relative;
      height:680px;
      left:-66px;
      width:100%;
      margin-right:0px;
    }
    
  
    
  
    .owner-container .buttons{
      border-top-left-radius:0px;
      display: flex;
      flex-direction: row; /* Horizontal alignment */
      align-items: center;
      transform:translatex(0px) translatey(0px);
      height:100px;
      top:5% !important;
      width:400px;
      left:11px;
    }
    
  
    
    .box-menu form .change-button{
      width:26px;
      height:26px;
      margin-left:0px;
    }
    
  
    .owner-container .box-menu form{
      font-size:14px;
      line-height:0.5em;
    }
    
  
    .box-menu{
      max-width:none !important;
      width: auto !important;
    }
  
    .square-button {
      top:550px !important;
      }
      
    .box-menu{
      top:39px !important;
      }
    
   .owner-container .buttons{
    top:578px !important;
    transform:translatex(0px) translatey(0px);
   }
   
   /* Link */
   .owner-container .buttons a{
    top:0px !important;
   }
    /* Owner container */
    .owner-container{
      flex-direction:column;
      flex-wrap:nowrap;
      justify-content:center;
      align-items:center;
     }
     
     /* Box menu */
     .owner-container .box-menu{
      left:-53px;
      top:-110px !important;
      width:90% !important;
      margin-right:0px;
      margin-left:0px;
     }
     
     /* Buttons */
     .owner-container .buttons{
      top:540px !important;
     }
   
      }
      
  @media (max-width: 415px) {
    .owner-container .buttons {
      flex-wrap: wrap;
      width: 100%;
      margin: 25px;
      top:-38px !important;
      margin-top:0px;
      margin-right:0px;
      margin-bottom:0px;
      width:94%;
      left:0px;
      position:relative;
  
      .button {
        flex: 0 0 calc(50% - 10px); 
      }
    }
  
     
     /* Box menu */
     .owner-container .box-menu{
      top:177px;
      margin-right:-58px;
      left:-60px;
      margin-left:-258px;
      height:465px !important;
    }
   
     
     /* Link */
     .owner-container .buttons a{
      margin-left:39px;
      margin-right:-24px;
      margin-bottom:0px;
      left:45px;
     }
  
  
   /* Owner container */
   .owner-container{
    transform:translatex(0px) translatey(0px);  
   }
  
  
  
   
   /* List */
   .navbar ul{
    position:relative;
    left:-27px;
    width:100% !important;
   }
   
   /* Link */
   .navbar-menu .navbar-item a{
    left:25px;
   }
   
   /* Logo */
   .navbar-menu a img{
    position:relative;
    left:21px;
   }
   
  
   .owner-container .buttons a{
    margin-left:14px;
    margin-top:-5px;
   } 
  
   .owner-container .buttons{
    top:578px !important;
    transform:translatex(0px) translatey(0px);
   }
   
   /* Link */
   .owner-container .buttons a{
    top:0px !important;
   }
  
      
      /* Box menu */
      .owner-container .box-menu{
        margin-left:0px;
        margin-right:0px;
        width:90%;
        top:-145px !important;
        left:14px;
       }
       
       /* Buttons */
       .owner-container .buttons{
        top:440px !important;
        transform:translatex(0px) translatey(0px);
        justify-content:center;
       }
       
       /* Link */
       .owner-container .buttons a{
        margin-left:17px;
       }
       footer{
         height:67px !important;
        }
   
     
    }
    
  