Flask==2.3.3
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy>=1.4.0
postgres==4.0
# pgadmin4==8.0
configparser==5.3.0
Jinja2>=3.1.4
jsonschema==3.2.0
keyring==24.2.0
pipenv==2023.2.4
psycopg2==2.9.6
requests>=2.32.0
Werkzeug==3.0.3
gunicorn>=22.0.0
Flask-Migrate==4.0.4
flask-mail==0.9.1
itsdangerous==2.1.2
Babel==2.13.1
Flask-Babel==4.0.0
