{% extends "base.html" %}
{% block title %} Admin Page {% endblock %}

{% block bg %}
  <body background="../static/images/admin-bg.jpg">
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="../static/css/admin.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
{% endblock %}

{% block content%}
  <div class="sidebar">
  <div class="logo_details">
    <div class="logo_name">Petta</div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class="bx bx-search"></i>
      <input type="text" placeholder="Search...">
        <span class="tooltip">Search</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-home' ></i>
        <span class="link_name">My owner menu</span>
      </a>
      <span class="tooltip">My owner menu</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-grid-alt"></i>
        <span class="link_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a href="#">
        <i class="bx bx-user"></i>
        <span class="link_name">Owners</span>
      </a>
      <span class="tooltip">Owners</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-plus-medical' ></i>
        <span class="link_name">Vets</span>
      </a>
      <span class="tooltip">Vets</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-dog'></i>
        <span class="link_name">Pets</span>
      </a>
      <span class="tooltip">Pets</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bxs-devices' ></i>
        <span class="link_name">Editors</span>
      </a>
      <span class="tooltip">Editors</span>
    </li>
    <li>
      <a href="#">
        <i class='bx bx-clinic' ></i>
        <span class="link_name">Visits</span>
      </a>
      <span class="tooltip">Visits</span>
    </li>
  </ul>
  </div>
  <!--
  <section class="home-section">
  <div class="text">Dashboard</div>
  </section>
  -->
{% endblock %}

{% block script %}
  <script src="../../static/js/admin.js"></script>
{% endblock %}