{% extends "base.html" %}
{% block title %} My Page {% endblock %}

{% block bg %}{% endblock %}


{% block style %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="crossorigin=""/>
<link rel="stylesheet" href="../../static/css/main.css">
{% endblock %}
 
{% block content %}
<div class="owner-container">
  <div class="buttons">
    <!-- ბმული 1: ცხოველის დამატება -->
    <a href="{{ url_for('general_logic.owner_logic', action=1) }}" class="square-button">ჩემი შინაური ცხოველები</a>
    <!-- ბმული 2: ჩემი ცხოველების ჩამონათვალი -->
    <a href="{{ url_for('general_logic.owner_logic', action=2) }}" class="square-button">ჩემი შინაური ცხოველების ისტორია</a>
    <!-- ბმული 3: ვეტერინარული კლინიკები ჩემს ახლოს -->
    <a href="{{ url_for('general_logic.owner_logic', action=3) }}" class="square-button">კლინიკების რუკა</a>
    <!-- ბმული 4: ვეტერინარების ტელეფონის ნომრები -->
    <a href="{{ url_for('general_logic.owner_logic', action=4) }}" class="square-button">ვეტ.ექიმების ნომრები</a>
  </div>      
  <!-- აქ არის box-menu ლოგიკა -->
  <div class="box-menu">

    {% if action == 0 %}
      <h1>მოგესალმებით, {{ current_user.name }}</h1><br><br>
      <form action="{{ url_for('general_logic.owner_logic', action = 0) }}" method="POST">
        <label for="firstname">სახელი:</label>
        <input type="text" id="firstname" name="firstname" value="{{ current_user.name }}" disabled>
        <button type="button" class="change-button" onclick="enableInput('firstname')"><i class="fa-solid fa-pen-to-square"></i></button><br>
        
        <label for="lastname">გვარი:</label>
        <input type="text" id="lastname" name="lastname" value="{{ current_user.lastname }}" disabled>
        <button type="button" class="change-button" onclick="enableInput('lastname')"><i class="fa-solid fa-pen-to-square"></i></button><br>

        <label for="address">მისამართი:</label>
        <input type="text" id="address" name="address" value="{{ current_user.address }}" disabled>
        <button type="button" class="change-button" onclick="enableInput('address')"><i class="fa-solid fa-pen-to-square"></i></button><br>

        <input type="submit" value="Save Changes" class="save-button" id="save-button" style="display: none;">

      </form>
      {% elif action == 1 %}
      <div class="pet-list-bg">
        <div class="pets-list">
          {% if pets %}
          <h3>თქვენი შინაური ცხოველები</h3>
            <ul>
              {% for pet, pet_species, pet_breed in pets %}
                <li>
                  <div class="pet-actions">
                    <form action="{{ url_for('general_logic.edit_pet', action=2, pet_id=pet.pet_id) }}" method="POST">
                      <div class="pet-info">
                        <strong>ID:</strong> {{ pet.pet_id }}<br><br>
                        <label for="name">სახელი:</label>
                        <input type="text" id="name_{{ pet.pet_id }}" name="name" value="{{ pet.name }}" required disabled><br>
                        <br><strong>სახეობა: </strong><br>{{ pet_species.species }}<br>
                        <br><strong>ჯიში: </strong><br>{{ pet_breed.breed }}<br><br>
                        <label for="recent_vaccination">ბოლოდროინდელი ვაქცინაცია</label>
                        <input type="date" id="recent_vaccination_{{ pet.pet_id }}" name="recent_vaccination" value="{{ pet.recent_vaccination }}" disabled><br>
                      </div>
                      <input type="submit" value="Save" class="save-button" id="save_{{ pet.pet_id }}" style="display: none;">
                    </form>
                    <button type="button" class="change-button" onclick="enableEdit('{{ pet.pet_id }}')"><i class="fa-regular fa-pen-to-square"></i></button>
                    <form action="{{ url_for('general_logic.remove_pet', action=2, pet_id=pet.pet_id) }}" method="DELETE" onsubmit="return confirm('Confirm deletion.');" >
                      <button type="submit" class="remove-button"><i class="fa-solid fa-eraser"></i></button>
                    </form>
                  </div>
                </li>
              {% endfor %}
              <a class="submit-style" href="{{ url_for('general_logic.owner_logic', action=5) }}">დამატება</a>
            </ul>
          {% else %}
          <h3>თქვენ არ გყავთ შინაური ცხოველები დარეგისტრირებული</h3>
          <a class="novalue submit-style" href="{{ url_for('general_logic.owner_logic', action=5) }}">შინაური ცხოველების დამატება</a>
          {% endif %}
        </div>
      </div>
  {% elif action == 2 %}
    {% if pet_history %}
    <h3 style="text-align:center">ისტორია</h3>
      <table class="table table-sortable">
        <thead>
          <tr>
            <th>ისტორიის იდენტიფიკატორი</th>
            <th>შინაური ცხოველი</th>
            <th>მკურნალობა -- რიცხვი</th>
            <th>კომენტარი</th>
            <th>მოქმედება</th>
          </tr>
        </thead>
        <tbody>
          {% for pet_hist, pet in pet_history %}
          <form action="{{ url_for('general_logic.owner_logic', action = 2) }}" method="POST">
            <tr>
              <td>{{ pet_hist.history_id }}</td>
              <td>{{ pet.pet_id }} - {{ pet.name }}</td>
              <td>
                <select id="treatment_{{ pet_hist.history_id }}" name="treatment" required disabled>
                  <option value="ცოფის ვაქცინაცია(Rabbies Vaccination)" {% if pet_hist.treatment == 'ცოფის ვაქცინაცია(Rabbies Vaccination)' %}selected{% endif %}>ცოფის ვაქცინაცია(Rabbies Vaccination)</option>
                  <option value="შიდა პარაზიტები(Internal Parasytes)" {% if pet_hist.treatment == 'შიდა პარაზიტები(Internal Parasytes)' %}selected{% endif %}>შიდა პარაზიტები(Internal Parasytes)</option>
                  <option value="კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)" {% if pet_hist.treatment == 'კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)' %}selected{% endif %}>კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)</option>
                  <option value="სხვა(Other)" {% if pet_hist.treatment == 'სხვა(Other)' %}selected{% endif %}>სხვა(Other)</option>
                </select>
                <input type="date" id="date_{{ pet_hist.history_id }}" name="date" value="{{ pet_hist.date }}" required disabled>
              </td>
              <td>
                <textarea name="comment" id='comment_{{ pet_hist.history_id }}' style="width: 600px; 
                min-height: 110px; resize: vertical; overflow-y: auto; 
                word-wrap: break-word; max-width: 100%;" maxlength="500" disabled>{{ pet_hist.comment }}</textarea>
              </td>
              <td>
                <div class="pet-actions">
                  <button type="button" class="change-button" id="change_{{ pet_hist.history_id }}" 
                  onclick="enableEditHistory('{{ pet_hist.history_id }}');">
                  <i class="fa-regular fa-pen-to-square"></i></button>
                  <h6></h6>
                  <input type="hidden" name="history_id" value="{{ pet_hist.history_id }}">
                  <button type="submit" class="change-button s-button" id="save_{{ pet_hist.history_id }}" disabled><i class="fa-solid fa-check"></i></button><br>
                  <h6></h6>
                  </form>
                  <form action="{{ url_for('general_logic.remove_history', history_id = pet_hist.history_id) }}" method="DELETE" onsubmit="return confirm('წაშლის დადასტურება.');" >
                  <button type="submit" class="change-button r-button" style="border: none; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);"><i class="fa-solid fa-eraser"></i></button><br>
                  </form>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <a class="submit-style" href="{{ url_for('general_logic.owner_logic', action=6) }}">ახალი ისტორიის დამატება</a>
  {% else %}
  <h2 style="text-align:center">თქვენ არ გაქვთ შინაური ცხოველების ისტორია</h2>
  <a class="novalue submit-style" href="{{ url_for('general_logic.owner_logic', action=6) }}">ისტორიის დამატება</a>
  {% endif %}
  {% elif action == 3 %}

    <div id="map"
    data-clinics='{{ clinics | tojson | safe }}'>
    </div>

  {% elif action == 4 %}
      {% if vets %}
      <div class="list-box">
        <h3>დარეგისტრირებული ვეტ.ექიმების ტელ.ნომრები</h3>
        <ul>
          {% for vet, person in vets %}
            <li>
              <strong>სახელი: </strong> {{person.name}}<br>
              <strong>გვარი: </strong> {{person.lastname}}<br>
              <strong>ტელ.ნომერი: </strong> {{person.phone}}<br>
              {% if vet.speciality %}
              <strong>სპეციალობა: </strong> {{vet.Speciality}}<br>
              {% else %}
              <strong>არ აქვს სპეციალობა დარეგისტრირებული</strong><br>
              {% endif %}
            </li>
            {% endfor %}
        </ul>
      </div>
      {% else %}
      <h2 style="text-align:center"> ჯერჯერობით ვეტერინარები არ არიან დარეგისტრირებულნი </h2>
      {% endif %}
  {% elif action == 5 %}
  <div class="newpetbox">
    <form action="{{ url_for('general_logic.owner_logic', action=5) }}" method="POST">
      <label for="pet_name">შინაური ცხოველის სახელი: </label>
      <input type="text" id="pet_name" name="pet_name" required>

      <label for="gender">სქესი: </label>
      <select id="gender" name="gender" required>
        <option value="M">მამრობითი</option>
        <option value="F">მდედრობითი</option>
      </select>

      <label for="bdate">დაბადების თარიღი</label>
      <input type="date" id="bdate" name="bdate" required>


      
      <label for="pet_species">სახეობა: </label>
      <select id="pet_species" name="pet_species" required>
        {% for pet_species in pet_species_list %}
            <option value="{{ pet_species.species_id }}">{{ pet_species.species }}</option>
        {% endfor %}
      </select>
      <label for="pet_breed">ჯიში: </label>
      <select id="pet_breed" name="pet_breed">
      </select>
      
        <label for="recent_vaccination">ბოლოდროინდელი ვაქცინაცია(არ არის აუცილებელი)</label>
        <input type="date" id="recent_vaccination" name="recent_vaccination">

        <button type="submit" class="submit-style">შინაური ცხოველის რეგისტრაცია</button>
    </form>
  </div>
  {% elif action == 6 %}
  {% if pets %}
  <div class="newpetbox">
    <form action="{{ url_for('general_logic.owner_logic', action=6) }}" method="POST">
      <label for="pet_name">შინაური ცხოველის სახელი</label>
      <select id="pet_name" name="pet_name">
        {% for pet in pets %}
          <option value="{{ pet.pet_id }}">{{ pet.name }} : {{ pet.pet_id }}</option>
        {% endfor %}
      </select>

      <label for="treatment">მკურნალობის ტიპი</label>
      <select id="treatment" name="treatment" required>
        <option value="ცოფის ვაქცინაცია(Rabbies Vaccination)">ცოფის ვაქცინაცია(Rabbies Vaccination)</option>
        <option value="შიდა პარაზიტები(Internal Parasytes)">შიდა პარაზიტები(Internal Parasytes)</option>
        <option value="კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)">კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)</option>
        <option value="სხვა(Other)">სხვა(Other)</option>
      </select>

      <label for="date">მკურნალობის რიცხვი</label>
      <input type="date" id="date" name="date" required>

      <label for="comment">კომენტარი</label>
      <textarea id="comment" name="comment" style="width: 600px; 
      height: 250px; resize: vertical; overflow-y: auto; 
      word-wrap: break-word; max-width: 100%;" maxlength="500"></textarea>

      <button type="submit" class="submit-style">ისტორიის დამატება</button>
    </form>
  </div>
  {% else %}
  <h1></h1>
  <h1></h1>
  <a class="novalue submit-style" href="{{ url_for('general_logic.owner_logic', action=5) }}">როგორც ჩანს თქვენ არ გყავთ დარეგისტრირებული შინაური ცხოველები<br>გთხოვთ დაარეგისტრიროთ ისინი მოცემულ ბმულიდან</a>
  {% endif %}
{% endif %}
</div>
</div>
<div class="blur-owner-bg"></div>
{% endblock %}


{% block script %}
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="crossorigin=""></script>
<script src="../static/js/main.js"></script>
{% endblock %}
