{% extends "base.html" %}
{% block title %} Veterinary Page {% endblock %}
<!-- ვაპირებ ადმინის ჰტმლს გადაკეთებას, ფერის შეცვლა მენიუზე, ცოტა ვიზუალის თემების მიხედვა, და იდეების გადახედვაა საჭირო -->

{% block favicon %}<link rel = "icon" href = "../../static/images/favicon.ico" type = "image/x-icon">{% endblock %}

{% block style %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="crossorigin=""/>
  <link rel="stylesheet" href="../../static/css/main.css">
  <link rel="stylesheet" href="../../static/css/extended.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <!-- Leaflet EasyButton CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">

{% endblock %}

{% block headscript %}

{% endblock %}

{% block bg %}
{% endblock %}


{% block content%}
  <div class="sidebar">
  <div class="logo_details">
    <div class="logo_name">Petta</div>
    <i class="bx bx-menu" id="btn"></i>
  </div>
  <ul class="nav-list">
    <!-- Existing menu items ... -->
    <li class="search">
      <i class="bx bx-search"></i>
      <form id="search-form" action="{{ url_for('general_logic.vet_logic', choice=0, action=0) }}" method="GET">
        <input type="text" name="q" placeholder="Search...">
      </form>
      <span class="tooltip">ძიება</span>
    </li>
    <li>
      <a href="{{ url_for('general_logic.vet_logic', choice=5, action = 1) }}">
        <i class='bx bx-message-alt-add'></i>
       <span class="link_name">ჩემი კლინიკა</span>
      </a>
    <span class="tooltip">ჩემი კლინიკა</span>
  </li>

    <li>
      <a href="{{ url_for('general_logic.vet_logic', choice=4, action = 1) }}">
        <i class='bx bx-clinic'></i>
        <span class="link_name">კლინიკის ვიზიტები</span>
      </a>
      <span class="tooltip">კლინიკის ვიზიტები</span>
    </li>
    <li>
      <a href="{{ url_for('general_logic.vet_logic', choice=1, action = 0) }}">
        <i class='bx bx-home' ></i>
        <span class="link_name">ჩემი ცხოველების მენიუ</span>
      </a>
      <span class="tooltip">ჩემი ცხოველების მენიუ</span>
    </li>
    <li>
      <a href="{{ url_for('general_logic.vet_logic', choice=8, action = 0) }}">
        <i class='bx bx-user-circle'></i>
        <span class="link_name">ჩემი მონაცემები</span>
      </a>
      <span class="tooltip">ჩემი მონაცემები</span>
    </li>
  </ul>
  </div>
  
  <section class="home-section">
      {% if choice == 0 %}
      <h2 style="text-align:center">ძიების შედეგი</h2>
      <table class="table table-sortable">
        <thead>
          <tr>
            <th>ID</th>
            <th>სახელი</th>
            <th>გვარი</th>
            <th>ე.მაილი</th>
            <th>ტიპი</th>
            <th>შემოგვიერთდა</th>
            <th>მისამართი</th>
            <th>ტელ.ნომერი</th>
            <th>მოქმედება</th>
          </tr>
        </thead>
        <tbody>
          {% for person in action %}
            <form action="{{ url_for('general_logic.edit_user', person_id=person.id) }}" method="POST">
              <tr>
                <td>{{ person.id }}</td>
                <td>
                  <input type="text" id="name_{{ person.id }}" name="name" value="{{ person.name }}" required disabled>
                </td>
                <td>
                  <input type="text" id="lastname_{{ person.id }}" name="lastname" value="{{ person.lastname }}" required disabled>
                </td>
                <td>
                  <input type="text" id="mail_{{ person.id }}" name="mail" value="{{ person.mail }}" required disabled>
                </td>
                <td>
                  <select id="type_{{ person.id }}" name="type" required disabled>
                    <option value="1" {% if person.type == 1 %}selected{% endif %}>User</option>
                    <option value="2" {% if person.type == 2 %}selected{% endif %}>Admin</option>
                    <option value="3" {% if person.type == 3 %}selected{% endif %}>Vet</option>
                    <option value="4" {% if person.type == 4 %}selected{% endif %}>Editor</option>
                  </select>
                </td>
                <td>{{ person.created }}</td>
                <td>
                  <input type="text" id="address_{{ person.id }}" name="address" value="{{ person.address }}" required disabled>
                </td>
                <td>
                  <input type="text" id="phone_{{ person.id }}" name="phone" value="{{ person.phone }}" required disabled>
                <td>
                  <div class="pet-actions">
                    <button type="button" class="change-button" id="change_{{ person.id }}" onclick="enableEditUser('{{ person.id }}')"><i class="fa-regular fa-pen-to-square"></i></button>
                    <button type="submit" class="saveOwner" id="save_{{ person.id }}" onsubmit="return confrm('Change Confirmation')"><i class="fa-solid fa-check"></i></button>
                  </div>
                </td>
              </tr>
              </form>
            {% endfor %}
          </tbody>
        </table>
      {% if not action %}
        <p style="text-align:center">ძიების შედეგი არ არის.</p>
      {% endif %}
    {% elif choice == 1 %}
      <div class="owner-container">
        <div class="buttons">
          <!-- ბმული 1: ცხოველის დამატება -->
          <a href="{{ url_for('general_logic.vet_logic',choice=1, action=1) }}" class="square-button">ჩემი ცხოველების ჩამონათვალი</a>
          <!-- ბმული 2: ჩემი ცხოველების ჩამონათვალი -->
          <a href="{{ url_for('general_logic.vet_logic',choice=1, action=2) }}" class="square-button">ჩემი ცხოველების ისტორია</a>
          <!-- ბმული 3: ვეტერინარული კლინიკები ჩემს ახლოს -->
          <a href="{{ url_for('general_logic.vet_logic',choice=1, action=3) }}" class="square-button">რუკა</a>
          <!-- ბმული 4: ვეტერინარების ტელეფონის ნომრები -->
          <a href="{{ url_for('general_logic.vet_logic',choice=1, action=4) }}" class="square-button">ვეტერინარების ტელეფონის ნომრები</a>
        </div>    
        <!-- აქ არის box-menu ლოგიკა -->
        <div class="box-menu">
      
          {% if action == None %}
            <h1 class="welcome-text">მოგესალმებით, {{ current_user.name }}</h1><br><br>

            {% elif action == 1 %}
              <div class="pet-list-bg">
                <div class="pets-list">
                  <h2>ჩემი ცხოველები</h2>
                  {% if pets %}
                    <ul>
                      {% for pet, pet_species, pet_breed in pets %}
                        <li>
                          <div class="pet-actions">
                            <form action="{{ url_for('general_logic.edit_pet', action=2, pet_id=pet.pet_id) }}" method="POST">
                              <div class="pet-info">
                                <strong>ID:</strong> {{ pet.pet_id }}<br><br>
                                <label for="name">სახელი:</label>
                                <input type="text" id="name_{{ pet.pet_id }}" name="name" value="{{ pet.name }}" required disabled><br>
                                <br><strong>სახეობა: </strong><br>{{ pet_species.species }}<br>
                                <br><strong>ჯიში: </strong><br>{{ pet_breed.breed }}<br><br>
                                <label for="recent_vaccination">ბოლო ვაქცინაცია</label>
                                <input type="date" id="recent_vaccination_{{ pet.pet_id }}" name="recent_vaccination" value="{{ pet.recent_vaccination }}" disabled><br>
                              </div>
                              <input type="submit" value="შენახვა" class="save-button" id="save_{{ pet.pet_id }}" style="display: none;">
                            </form>
                            <button type="button" class="change-button" onclick="enableEdit('{{ pet.pet_id }}')"><i class="fa-regular fa-pen-to-square"></i></button>
                            <form action="{{ url_for('general_logic.remove_pet', action=2, pet_id=pet.pet_id) }}" method="DELETE" onsubmit="return confirm('წაშლის დადასტურება.');">
                              <button type="submit" class="remove-button"><i class="fa-solid fa-eraser"></i></button>
                            </form>
                          </div>
                        </li>
                      {% endfor %}
                      <a class="submit-style" href="{{ url_for('general_logic.vet_logic',choice=1, action=5) }}">ახალი შინაური ცხოველის დამატება</a>
                    </ul>
                  {% else %}
                  <a class="novalue submit-style" href="{{ url_for('general_logic.vet_logic',choice=1, action=5) }}">თქვენ არ გყავთ შინაური ცხოველი დარეგისტრირებული, დააჭირეთ აქ რომ დაარეგისტრიროთ</a>
                  {% endif %}
                </div>
              </div>
          {% elif action == 2 %}
            <h2 style="text-align:center">შინაური ცხოველის(ების) ისტორია</h2>
            {% if pet_history %}
              <table class="table table-sortable">
                <thead>
                  <tr>
                    <th>ისტორიის იდენტიფიკატორი</th>
                    <th>შინაური ცხოველი</th>
                    <th>მკურნალობა -- რიცხვი</th>
                    <th>კომენტარი</th>
                    <th>მოქმედება</th>
                  </tr>
                </thead>
                <tbody>
                  {% for pet_hist, pet in pet_history %}
                  <form action="{{ url_for('general_logic.vet_logic',choice=1, action = 2) }}" method="POST">
                    <tr>
                      <td>{{ pet_hist.history_id }}</td>
                      <td>{{ pet.pet_id }} - {{ pet.name }}</td>
                      <td>
                        <select id="treatment_{{ pet_hist.history_id }}" name="treatment" required disabled>
                          <option value="ცოფის ვაქცინაცია(Rabbies Vaccination)" {% if pet_hist.treatment == 'ცოფის ვაქცინაცია(Rabbies Vaccination)' %}selected{% endif %}>ცოფის ვაქცინაცია(Rabbies Vaccination)</option>
                          <option value="შიდა პარაზიტები(Internal Parasytes)" {% if pet_hist.treatment == 'შიდა პარაზიტები(Internal Parasytes)' %}selected{% endif %}>შიდა პარაზიტები(Internal Parasytes)</option>
                          <option value="კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)" {% if pet_hist.treatment == 'კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)' %}selected{% endif %}>კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)</option>
                          <option value="სხვა(Other)" {% if pet_hist.treatment == 'სხვა(Other)' %}selected{% endif %}>სხვა(Other)</option>
                        </select>
                        <input type="date" id="date_{{ pet_hist.history_id }}" name="date" value="{{ pet_hist.date }}" required disabled>
                      </td>
                      <td>
                        <textarea name="comment" id='comment_{{ pet_hist.history_id }}' style="width: 600px; 
                        min-height: 110px; resize: vertical; overflow-y: auto; 
                        word-wrap: break-word; max-width: 100%;" maxlength="500" disabled>{{ pet_hist.comment }}</textarea>
                      </td>
                      <td>
                        <div class="pet-actions">
                          <button type="button" class="change-button" id="change_{{ pet_hist.history_id }}" 
                          onclick="enableEditHistory('{{ pet_hist.history_id }}');">
                          <i class="fa-regular fa-pen-to-square"></i></button>
                          <h6></h6>
                          <input type="hidden" name="history_id" value="{{ pet_hist.history_id }}">
                          <button type="submit" class="change-button s-button" id="save_{{ pet_hist.history_id }}" disabled><i class="fa-solid fa-check"></i></button><br>
                          <h6></h6>
                          </form>
                          <form action="{{ url_for('general_logic.remove_history', history_id = pet_hist.history_id) }}" method="DELETE" onsubmit="return confirm('Confirm deletion.');" >
                          <button type="submit" class="change-button r-button" style="border: none; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);"><i class="fa-solid fa-eraser"></i></button><br>
                          </form>
                        </div>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              <a class="submit-style" href="{{ url_for('general_logic.vet_logic',choice=1, action=6) }}">ახალი ისტორიის დამატება</a>
          {% else %}
          <a class="novalue submit-style" href="{{ url_for('general_logic.vet_logic',choice=1, action=6) }}">თქვენ არ გაქვთ შინაური ცხოველების ისტორია, ისტორიის დამატება</a>
          {% endif %}
          {% elif action == 3 %}
                <!--iframe src="https://www.google.com/maps/d/u/0/embed?mid=11ZnEvFOa3xipWz70F4d_jAo_nwrodVQ&ehbc=2E312F" width="100%" height="100%"></iframe-->
                
                <div id="map"
                    data-clinics='{{ clinics | tojson | safe }}'>
                </div>
      
          {% elif action == 4 %}
              {% if vets %}
              <div class="list-box">
                <h3>დარეგისტრირებული ვეტ.ექიმების ტელ.ნომრები</h3>
                <ul>
                  {% for vet, person in vets %}
                    <li>
                      <strong>სახელი: </strong> {{person.name}}<br>
                      <strong>გვარი: </strong> {{person.lastname}}<br>
                      <strong>ტელ.ნომერი: </strong> {{person.phone}}<br>
                      {% if vet.speciality %}
                      <strong>სპეციალობა: </strong> {{vet.Speciality}}<br>
                      {% else %}
                      <strong>არ აქვს სპეციალობა დარეგისტრირებული</strong><br>
                      {% endif %}
                    </li>
                    {% endfor %}
                </ul>
              </div>
              {% else %}
              <p style="text-align:center">ჯერჯერობით ვეტერინარები არ არიან დარეგისტრირებულნი</p>
              {% endif %}
          {% elif action == 5 %}
          <div class="newpetbox">
            <form action="{{ url_for('general_logic.vet_logic',choice = 1, action=5) }}" method="POST">
              <label for="pet_name">შინაური ცხოველის სახელი: </label>
              <input type="text" id="pet_name" name="pet_name" required>
          
              <label for="gender">სქესი: </label>
              <select id="gender" name="gender" required>
                <option value="M">მამრობითი</option>
                <option value="F">მდედრობითი</option>
              </select>
          
              <label for="bdate">დაბადების თარიღი</label>
              <input type="date" id="bdate" name="bdate" required>
          
  
  
              <label for="pet_species">სახეობა: </label>
              <select id="pet_species" name="pet_species" required>
                {% for pet_species in pet_species_list %}
                  <option value="{{ pet_species.species_id }}">{{ pet_species.species }}</option>
                {% endfor %}
              </select>
              <label for="pet_breed">ჯიში: </label>
              <select id="pet_breed" name="pet_breed">
              </select>
          
              <label for="recent_vaccination">ბოლოდროინდელი ვაქცინაცია(არ არის აუცილებელი)</label>
              <input type="date" id="recent_vaccination" name="recent_vaccination">
          
              <button type="submit" class="submit-style">შინაური ცხოველის რეგისტრაცია</button>
            </form>
          </div>
          {% elif action == 6 %}
          {% if pets %}
          <div class="newpetbox">
            <form action="{{ url_for('general_logic.vet_logic',choice = 1, action=6) }}" method="POST">
              <label for="pet_name">ცხოველის სახელი</label>
              <select id="pet_name" name="pet_name">
                {% for pet in pets %}
                  <option value="{{ pet.pet_id }}">{{ pet.name }} : {{ pet.pet_id }}</option>
                {% endfor %}
              </select>
          
              <label for="treatment">მკურნალობის ტიპი</label>
              <select id="treatment" name="treatment" required>
                <option value="ცოფის ვაქცინაცია(Rabbies Vaccination)">ცოფის ვაქცინაცია(Rabbies Vaccination)</option>
                <option value="შიდა პარაზიტები(Internal Parasytes)">შიდა პარაზიტები(Internal Parasytes)</option>
                <option value="კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)">კანის მოვლა ან/და გარე პარაზიტები(Skin care / External Parasytes)</option>
                <option value="სხვა(Other)">სხვა(Other)</option>
              </select>
          
              <label for="date">მკურნალობის რიცხვი</label>
              <input type="date" id="date" name="date" required>
          
              <label for="comment">კომენტარი</label>
              <textarea id="comment" name="comment" style="width: 600px; 
              height: 250px; resize: vertical; overflow-y: auto; 
              word-wrap: break-word; max-width: 100%;" maxlength="500"></textarea>
          
              <button type="submit" class="submit-style">ისტორიის დამატება</button>
            </form>
          </div>
          {% else %}
          <h1></h1>
          <h1></h1>
          <a class="novalue submit-style" href="{{ url_for('general_logic.vet_logic',choice=1, action=5) }}">როგორც ჩანს თქვენ არ გყავთ დარეგისტრირებული შინაური ცხოველები<br>გთხოვთ დაარეგისტრიროთ ისინი მოცემულ ბმულიდან</a>
          {%endif%}
        {% endif %}
      </div>
    </section>
    {% elif choice == 4 %}
    {% if action == 0 %}
    <form action="{{ url_for('general_logic.vet_logic', action=0, choice = 4) }}" method="POST">
      <div class="visitaddition">
        <label for="clinic">კლინიკა:</label>
        <select id="clinic" name="clinic" onchange="updateVetDropdown()">
          {% for clinic in clinics %}
            <option value="{{ clinic.clinic_id }}">{{ clinic.clinic_name }}</option>
          {% endfor %}
        </select>
        <label for="vet">ვეტერინარი / მიმღები:</label>
        <select id="vet" name="vet">
          <!-- Options are being populated by JavaScript -->
        </select>
        
        <label>შინაური ცხოველის პატრონი</label>
        <div class="search-container">
        <input type="text" id="searchInput" placeholder="შეიყვანეთ ID ან ელ.ფოსტა">
        <button type="button" onclick="searchOwner()">ძიება</button>
        </div>
        <div id="searchResults">
            <!-- Search results will be displayed here -->
        </div>




        <label for="diagnosis">დიაგნოზი</label>
        <input type="text" id="diagnosis" name="diagnosis" maxlength="100" required>
    
        <label for="treatment">მკურნალობა</label>
        <input type="text" id="treatment" name="treatment" maxlength="50" required>      
        
        <label for="date">ვიზიტის რიცხვი <h6 style="font-size:small">(არ მითითების შემთხვევაში ვიზიტის ჩანაწერის დღე მიითითება)</h6></label>
        <input type="date" id="date" name="date">

        <label for="comment">დანიშნულება</label>
        <textarea id="comment" name="comment" style="width: 600px; 
        height: 250px; resize: vertical; overflow-y: auto; 
        word-wrap: break-word; max-width: 100%;" maxlength="500"></textarea>

        <button type="submit" class="submit-style">ვიზიტის დამატება</button>
        
      </div>
    </form>
     {%elif action == 1%}
      <h2 style="text-align:center"> ვიზიტები </h2>
      {% if visits %}
        <table class="table table-sortable">
          <thead>
            <tr>
              <th>ვიზიტის - ID</th>
              <th>ვეტერინარი</th>
              <th>ცხოველის პატრონი</th>
              <th>შინაური ცხოველის სახელი</th>
              <th>დიაგნოზი</th>
              <th>მკურნალობა</th>
              <th>ვიზიტის რიცხვი</th>
              <th>დანიშნულება</th>
              <th>მოქმედება</th>
            </tr>
          </thead>
          <tbody>
            {% for visit, vet, owner, pet, vet_name, vet_lastname,
               owner_name, owner_lastname, pet_name in visits %}
            <form>
              <tr>
                <td>{{ visit.visit_id }}</td>
                <td>{{ vet.vet_id }} - {{ vet_name }} {{ vet_lastname }}</td>
                <td>{{ owner.owner_id }} - {{ owner_name }} {{ owner_lastname }}</td>
                <td>{{ pet.pet_id }} - {{ pet_name }}</td>
                <td>{{ visit.diagnosis }}</td>
                <td>{{ visit.treatment }}</td>
                <td>{{ visit.date.strftime('%Y-%m-%d') }}</td>
                <th>{{ visit.comment }}</th>
                <th><h1></h1></th>
              </tr>
            </form>
            {% endfor %}
          </tbody>
        </table>
        <a class="submit-style" style="text-align:center" href="{{ url_for('general_logic.vet_logic',choice=4, action=0) }}">ახალი ვიზიტის დამატება</a>
      {% else %}
      <a class="novalue submit-style" style="text-align:center" href="{{ url_for('general_logic.vet_logic',choice=4, action=0) }}">ვიზიტები არ არის, ვიზიტის დამატება</a>
      {% endif %}
      {% endif %}
    </section>
    {% elif choice == 5 %}
      {% if action == 0 %}
        <div class="newclinicbox">
          <form action="{{ url_for('general_logic.vet_logic', choice=5, action=0) }}" method="POST">
            <label for="clinic-name">კლინიკის სახელი</label>
            <input type="text" id="clinic-name" name="clinic-name" required value="{{ clinic.clinic_name if edit_mode else '' }}" required>
        
            <label for="comment">მოკლე აღწერა</label>
            <textarea id="comment" name="comment" style="width: 600px; 
              max-height: 250px; min-height:200px; resize: vertical; overflow-y: auto; 
              word-wrap: break-word; max-width: 100%;" maxlength="200">{{ clinic.desc if edit_mode else '' }}</textarea>
            <h6>{{'რუკაზე ლოკაციის დასმა არ არის აუცილებელი თუ მისი შეცვლა არ გნებავთ' if edit_mode else ''}} </h6>
            <div id="clinic-map" style="width: 100%; height: 400px;"></div>
            <input type="hidden" id="coordinates" name="coordinates" value="{{ clinic.coordinates if edit_mode else '' }}">

            <button type="submit" class="submit-style">{{ 'კლინიკის რედაქტირება' if edit_mode else 'კლინიკის დამატება' }}</button>
          </form>
        </div>
      {% elif action == 1 %} 
        {% if clinics %}
        <table class="table table-sortable">
          <thead>
            <tr>
              <th>კლინიკის - ID</th>
              <th>კლინიკის სახელი</th>
              <th>მოკლე აღწერა</th>
              <th>დარეგისტრირებული პერსონალი</th>
              <th>კოორდინატები</th>
              <th>მოქმედება</th>
            </tr>
          </thead>
          <tbody>
            {% for clinic in clinics %}
              <tr>
                <td>{{ clinic.clinic_id }}</td>
                <td>{{ clinic.clinic_name }}</td>
                <td>{{ clinic.desc }}</td>
                <td>
                  {% if personels %}
                    {% for personel in personels %}
                        {{ personel.name }} {{ personel.lastname }} - {{personel.phone}}<br>
                    {% endfor %}
                  {% else %}
                      პერსონალი არ არის დარეგისტრირებული
                  {% endif %}
                </td>
                <td>
                  {{ clinic.coordinates }}
                </td>
                <td>
                  <div class="pet-actions">
                  <form action="{{ url_for('general_logic.vet_logic', choice = choice, action = 0) }}" method="GET" onsubmit="return confirm('თქვენ გინდათ შეცვალოთ კლინიკის მონაცემები?');" >
                    <input type="hidden" id="clinic" name="clinic_id" value="{{ clinic.clinic_id }}">
                    <button type="submit" class="change-button" style="border: none; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);"><i class="fa-regular fa-pen-to-square"></i></button><br>
                  </form>
                  <form class="None" action="{{ url_for('general_logic.remove_clinic', clinic_id = clinic.clinic_id) }}" method="DELETE" onsubmit="return confirm('დარწმუნებული ხართ რომ გნებავთ კლინიკის წაშლა');" >
                    <button type="submit" class="change-button r-button" style="border: none; box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);"><i class="fa-solid fa-eraser"></i></button><br>
                  </form>
                </div>
                </td>
              </tr>
            {% endfor %}
            
          </tbody>
        </table>
        <a class="submit-style" style="text-align:center" href="{{ url_for('general_logic.vet_logic',choice=5, action=0) }}">ახალი კლინიკის დამატება</a>
        {% else %}
          <h3 style="text-align:center">თქვენ არ ხართ არცერთ კლინიკაში გაწევრიანებული</h3>
          <a class="submit-style" href="{{ url_for('general_logic.vet_logic',choice=5, action=0) }}">დააჭირეთ აქ რომ დაამატოთ ახალი კლინიკა</a>
          <a class="submit-style" href="{{ url_for('general_logic.vet_logic',choice=5, action=0) }}">დააჭირეთ აქ რომ გაწევრიანდეთ კლინიკაში</a>
        {% endif %}
      {% elif action == 3 %}
      {% endif %}
    </section>
    {% elif choice == 8 %}
      <div class="user-menu">
        <form action="{{ url_for('general_logic.vet_logic', choice = 8, action = 0) }}" class="mymenu" method="POST">
          <label for="firstname">სახელი</label>
          <input type="text" id="firstname" name="firstname" value="{{ current_user.name }}" disabled>
          <button type="button" class="change-button" onclick="enableInput('firstname')"><i class="fa-solid fa-pen-to-square"></i></button><br>
          
          <label for="lastname">გვარი</label>
          <input type="text" id="lastname" name="lastname" value="{{ current_user.lastname }}" disabled>
          <button type="button" class="change-button" onclick="enableInput('lastname')"><i class="fa-solid fa-pen-to-square"></i></button><br>

          <label for="address">მისამართი</label>
          <input type="text" id="address" name="address" value="{{ current_user.address }}" disabled>
          <button type="button" class="change-button" onclick="enableInput('address')"><i class="fa-solid fa-pen-to-square"></i></button><br>

          <input type="submit" value="Save Changes" class="save-button" id="save-button" style="display: none;">
        </form>
      </div>
    </section>
  {%endif%}
{% endblock %}

{% block script %}
  <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="crossorigin=""></script>
  <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
  <script src="../../static/js/main.js"></script>

  {% if staff_members_by_clinic %}
  <script>
    //this function wont work in js file because jinja2 syntax wont integrate in there
    
    var staffMembersByClinic = '{{ staff_members_by_clinic|tojson }}'

    function updateVetDropdown() {
      var clinicId = document.getElementById('clinic').value;
      var vetSelect = document.getElementById('vet');
      vetSelect.innerHTML = '';
  
      var clinicStaff = staffMembersByClinic[clinicId];
  
      // Add an option for the current user
      var option = document.createElement('option');
      option.value = "{{ current_user.id }}";
      option.text = "* {{ current_user.name }} {{ current_user.lastname }}";
      vetSelect.appendChild(option);
  
      // Add options for other staff members in the selected clinic
      if (clinicStaff && clinicStaff.length > 0) {
          clinicStaff.forEach(function(staff) {
              var option = document.createElement('option');
              option.value = staff.id;
              option.text = staff.name + ' ' + staff.lastname;
              vetSelect.appendChild(option);
          });
      } else {
          // If no staff members are found, add a disabled option
          var option = document.createElement('option');
          option.value = "";
          option.text = "No other staff available";
          option.disabled = true;
          vetSelect.appendChild(option);
      }
  }
    
    // Initialize the vet dropdown on page load
    document.addEventListener('DOMContentLoaded', updateVetDropdown);
    document.getElementById('petSelection').addEventListener('change', function() {
      var selectedPetId = this.value;
      // You can now use selectedPetId to make another AJAX call to fetch details
      // about the selected pet or perform other actions as needed.
    });
  </script>
  {% else %}
  <script>
  var staffMembersByClinic = {}; 
  </script>
  {% endif %}
      
{% endblock %}
