{% extends "base.html" %}
{% block title %} Peta Login {% endblock %}

{% block headscript %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block bg %}{% endblock %}

{% block content%}
<div class="sign-container">
  <section id="login" class="main-section">
    <h3 class="welcome-text"><strong>{{ _('ანგარიშზე შესვლა') }}</strong></h3>
    <br>
    <form class="login-form" method="POST" id="loginForm">
      <label for="email">{{ _('ელ.ფოსტა') }}</label>
      <input type="email" id="email" name="email" placeholder="name@example.com"
       title="{{ _('ელ.ფოსტის შესაყვანი ველი') }}" required>
      <label for="password">{{ _('პაროლი') }}</label>
      <input type="password" id="password" name="password" placeholder="******" 
       title="{{ _('პაროლის შესაყვანი ველი') }}" required>
      <div>
      <input type="checkbox" id="show-password" class="show-password-checkbox" 
       title="{{ _('აჩვენოს/დამალოს პაროლი') }}"><label for="checkbox" style="font-size: 14px;">{{ _('პაროლის ნახვა') }}</label>
      </div>
      <h3></h3>
      {% if session.get('tries', 0) >= 3 %}
      <div class="g-recaptcha" data-sitekey="6LdmXcwoAAAAAARZJDNPt5HN8DGlyCwps6kHEa_q"></div>
      {% endif %}
      <h3></h3>
      <input type="submit" value="{{ _('შესვლა') }}">
      <br>
      <p style="font-size: 13px;">
        <a href="{{ url_for('auth.forgot_password') }}">{{ _('პაროლი დამავიწყდა') }}</a>
      </p>    
    </form>
  </section>
</div>
<div class="blur-login-bg"></div>
{% endblock%}

{% block script %}
<script>
  document.getElementById('loginForm').addEventListener('submit', function(event) {
      "{% if session.get('tries', 0) >= 3 %}"
      var response = grecaptcha.getResponse();
      if (response.length == 0) {
          alert("{{ _('გთხოვთ, დაადასტუროთ, რომ არ ხართ რობოტი!') }}");
          event.preventDefault(); // Prevent form submission
      }
      "{% endif %}"
  });
</script>
<script>
  const showPasswordCheckbox = document.getElementById('show-password');
  const passwordInput = document.getElementById('password');

  showPasswordCheckbox.addEventListener('change', function () {
    if (showPasswordCheckbox.checked) {
      passwordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
    }
  });
</script>

{% endblock %}
