{% extends "base.html" %}
{% block title %} Peta World {% endblock %}



{% block content%}
<div class="container">
  <section id="home" class="main-section">
    <h2>მოგესალმებით ჩვენს ვებ.საიტზე</h2>
    <p>ჩვენი საიტი შექმნილია თქვენი შინაური ცხოველებისთვის, 
      დარეგისტრირდით და დაარეგისტრირეთ თქვენი ერთგული მეგობრები,
      შეიყვანეთ მათი აცრების ისტორია და ასევე
      ნახეთ თქვენს ახლოს განლაგებული კლინიკები.</p>
  </section>

  <!--section id="about" class="main-section">
    <h2>ჩვენს შესახებ:</h2>
  </section-->
</div>
{% endblock%}