{% extends "base.html" %}
{% block title %} Peta Signup {% endblock %}


{% block bg %}{% endblock %}

{% block content%}



<div class="sign-container">
  <section id="register" class="main-section">
    <h3 class="welcome-text"><strong>{{ _('რეგისტრაცია') }}</strong></h3>
    <form class="register-form" method="POST">
      <label for="name">{{ _('სახელი') }}</label>
      <input type="text" id="name" name="name" title="{{ _('გთხოვთ შეიყვანოთ თქვენი სახელი') }}" required>
      <label for="lastname">{{ _('გვარი') }}</label>
      <input type="text" id="lastname" name="lastname" title="{{ _('გთხოვთ შეიყვანოთ თქვენი გვარი') }}" required>

      <label for="email">{{ _('ელ.ფოსტა') }}</label>
      <input type="email" id="email" name="email" 
      placeholder="name@example.com" 
      title="{{ _('გთხოვთ შეიყვანოთ ვალიდური ელ.ფოსტა, მასზე გაიგზავნება დამადასტურებელი ბმული') }}" required>

      <label for="password">{{ _('პაროლი') }}</label>
      <input type="password" id="password" name="password" placeholder="******" 
       title="{{ _('უნდა შეიცავდეს მინიმუმ 6 სიმბოლოს') }}" required>
      <label for="repeat-password">{{ _('გაიმეორეთ პაროლი') }}</label>
      <input type="password" id="repeat-password" name="repeat-password" placeholder="******" 
      title="{{ _('გაიმეორეთ თქვენი პაროლი') }}" minlength="6" required>
      <div>
        <input type="checkbox" id="show-password" class="show-password-checkbox" title="{{ _('აჩვენოს/დამალოს პაროლი') }}"><label for="checkbox" style="font-size: 14px;">{{ _('პაროლის ნახვა') }}</label>
        </div>
      <label for="phone">{{ _('ტელ.ნომერი') }}</label>
      <div class="phone-input">
          <select id="countryCode" name="country_code" required>
              {% for prefix in prefixes %}
              <option value="{{ prefix.prefix }}">{{ prefix.icon }} {{ prefix.prefix }}</option>
              {% endfor %}
          </select>
          <input type="text" id="phone" name="phone" minlength="9" maxlength="9" title="{{ _('ტელ.ნომერი') }}" placeholder="{{ _('ტელ.ნომერი') }}" required>
      </div>
      <label for="address">{{ _('მისამართი:') }}</label>
      <input type="text" id="address" name="address">
      <h3></h3>
      <h3></h3>
      <input type="submit" value="{{ _('რეგისტრაცია') }}">
    </form>
  </section>
</div>
<div class="blur-signup-bg"></div>
{% endblock%}

{% block script %}

<script>
  const showPasswordCheckbox = document.getElementById('show-password');
  const passwordInput = document.getElementById('password');
  const repeatPasswordInput = document.getElementById('repeat-password')

  showPasswordCheckbox.addEventListener('change', function () {
    if (showPasswordCheckbox.checked) {
      passwordInput.type = 'text';
      repeatPasswordInput.type = 'text';
    } else {
      passwordInput.type = 'password';
      repeatPasswordInput.type = 'password';
    }
  });
</script>
<script>
  passwordInput.oninput = function() {
    // Define the pattern as a RegExp
    var pattern = new RegExp(/^(?=.*[A-Za-z])(?=.*\d).{6,}$/);
    
    // Test the input value against the pattern
    if (!pattern.test(passwordInput.value)) {
      passwordInput.setCustomValidity("{{ _('პაროლი უნდა შეიცავდეს მინიმუმ 6 სიმბოლოს, მინიმუმ 1 ლათინურ სიმბოლოს და 1 ციფრს.') }}");
    } else {
      passwordInput.setCustomValidity('');
    }
  };

</script>
<script type="text/javascript">
  // Assuming `prefixes` is correctly assigned from the server-side code as an array of objects.
  var prefixes = JSON.parse('{{ prefixes | tojson | safe }}');
</script>

<script>
  document.getElementById('countryCode').addEventListener('change', function() {
    var selectedPrefix = this.options[this.selectedIndex].value;
    var phoneInput = document.getElementById('phone');
    
    // Find the object for the selected prefix
    var prefixObj = prefixes.find(p => p.prefix === selectedPrefix);
    console.log(prefixObj);

    // Check if the prefix object is found and set lengths accordingly
    if (prefixObj) {
        // Ensure minLength is not greater than the new maxLength
        if (phoneInput.minLength && parseInt(phoneInput.minLength, 10) > prefixObj.nums) {
            phoneInput.minLength = prefixObj.nums;
        }
        phoneInput.maxLength = prefixObj.nums;
        phoneInput.minLength = prefixObj.nums; // It's safe to set minLength again
    } else {
        // Handle error: prefix not found
        console.error('Selected prefix not found in prefixes list.');
        // Clear the values
        phoneInput.minLength = '';
        phoneInput.maxLength = '';
    }
});

</script>

<script>
  document.querySelector('.register-form').addEventListener('submit', function(event) {
      var phoneInput = document.getElementById('phone');
      if (phoneInput.value.length < phoneInput.minLength || phoneInput.value.length > phoneInput.maxLength) {
          event.preventDefault(); // Stop the form from submitting
          alert("{{ _('გთხოვთ შეიყვანოთ') }}" + phoneInput.minLength + "{{ _('სიმბოლო.') }}");
      }
  });
</script>


{% endblock %}