@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vw;
  min-height: 100vh;
}

.token-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  font-size: 24px;
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

/* Getting rid of input[number] arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.base {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Authentification Css */
.loginWrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

.loginWrapper.active {
  opacity: 1;
}

@media (max-width: 1200px) {
  input,
  a,
  span {
    width: auto;
    margin: 5px;
  }
}

input {
  background-color: whitesmoke;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.253);
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: black;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #ff9100;
}


