.homeBg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-image: url(../../public/assets/main-bg.jpg);
  z-index: 0;
}

.home {
  margin: 20vh 10vw 10vh 10vw;
  padding: 30px 5px 30px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", Times, serif;
  border: solid 1px black;
  background-color: rgba(255, 255, 255, 0.753);
  border-radius: 20px;
  backdrop-filter: blur(5px);
  z-index: 5;
}

.home p {
  font-size: 20px;
}
